# 1. Credentials
.env
profiles.yml
.dbt/

# 2. Virtual Envs & Libraries (Aggressive)
*venv*/
*env*/
.meltano/
__pycache__/
*.pyc

# 3. dbt & Meltano Build Junk
target/
dbt_packages/
logs/
extract/
load/

# 4. Metadata & Logs
*.json
*.log
.vscode/
.DS_Store

# 1. dbt Temporary Logs & Personal Notes
dbt_debug_log.txt
dbt_refinery_notes

# 2. dbt Default Example Models
my_first_dbt_model.sql
my_second_dbt_model.sql
schema.yml

# 3. Raw Data (Never push CSVs to GitHub)
inventory.csv